<!--
  Generated template for the Tickets page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>eTickets</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding class="tickets-content grey-bg">
    <ion-grid>
        <ion-row *ngFor="let date of dates">
            <ion-col col-2>
                <div class="date dates">{{getDate(date.date)}}</div>
                <div class="month dates">{{getMonth(date.date)}}</div>
            </ion-col>
            <ion-col>
                <ticket *ngFor="let ticket of date.tickets" [ticketitem]="ticket">
                </ticket>
            </ion-col>
            <ion-col col-12>
                <hr>
            </ion-col>
        </ion-row>
        
    </ion-grid>

    <ion-fab right bottom style="bottom: 25px; right: 25px;">
        <button ion-fab color="primary" (click)="createTicket()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>

</ion-content>
