page-create-ticket {
    .block-button{
        margin-top: 20px;
    }

    .label-icon{
        margin-right: 10px;
    }

    ion-item{
        .input-label{
            color: #999;
        }
    }

    .error{
        text-align: center;
        color: color($colors, danger);
        font-weight: bold;
    }
}
