page-perform-reset {
    ion-item{
        ion-label{
            color: #ccc;
        }
    }

    .button-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin-top: 35px;
    }

    .logo{
        width: 50%;
        margin: auto;

        .main-logo{
            width: 90%;
        }
    }

    p{
        text-align: center;
        font-size: 1em;
        color: #939598;
    }

    .forgot-password {
        text-align: right;
        font-size: 1em;
    }

    .error{
        text-align: center;
        color: color($colors, danger);
        font-weight: bold;
    }
}
