page-home {

    .main-card{
        .overlay{
            height: 10px;
        }
    }

    .main-card-content{
        background: color($colors, primary);
        
    }

    .main-card-title{
        text-align: right;

        .title{
            margin-right: 15px;
            font-weight: 300;
            color: color($colors, light);
        }
    }

    ion-icon{
        float: right;
        color: color($colors, light);
    }
}
