page-information {
    .no-scroll {
        .scroll-content {
            overflow-y: hidden;
        }
    }
    .info-card {
        position: relative;
        margin: 12px 0;
        width: 100%;

        // ion-card-content{
        //     p{
        //         text-align: justify;
        //     }
        // }
    }
    .bookmark-button {
        position: absolute;
        padding: 0;
        margin: 0;
        top: -10px;
        right: 0;
        // color: #ddd;
    }

    .category {
        margin-top: 10px;
    }

    .info-search{
        padding: 0;
        border: none;
        background: none;
    }

    .filters{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 70px;
        left: 0;
        background: white;
        z-index: 1;
        overflow-y: scroll;

        ion-item{
            padding: 0;
        }

        .input-label{
            color: #ddd;
        }

        .filter-button{
            margin-top: 15px;
        }

        // .close-filters{
        //     font-size: 2em;
        //     float: right;
        //     color: #ddd;
        //     cursor: pointer;
        //     margin-right: 10px;

        //     &.icon-md{
        //         font-size: 1.5em;
        //     }

        //     &:active{
        //         color: color($colors, dark);
        //     }
        // }

        &.slideInUp {
            -webkit-animation-name: slideInUp;
            animation-name: slideInUp;
            -webkit-animation-duration: .3s;
            animation-duration: .3s;
        }

        &.slideOutDown {
            -webkit-animation-name: slideOutDown;
            animation-name: slideOutDown;
            -webkit-animation-duration: .3s;
            animation-duration: .3s;
        }
    }
}
